/* TABLE OF CONTENTS 

0 ALL
1 MAINBODY
2 SIDE NAVIGATION
    2.1 SIDE NAV ICON
    2.2 SIDE NAV LISTS
    2.3 NAV SEPERATOR 
3 MAIN POSTS 
4 FOOTER 

*/



/* 0 ALL  */

* {
    /* box-sizing: border-box;
    outline: 1px solid limegreen !important; */
    
}

body, head{
    background-color: rgba(236, 252, 9, 0.158);
}

body{ 
    margin: 0;
}

/* 1 MAINBODY */

.mainbody-container{
    /* min-height: 100vh; */
}

.mainbody{
    display: grid;
    grid-template-columns: minmax(165px, 15%) 1fr;
    min-height: 100vh;
}

/* 2 SIDE NAVIGATION */

.side-nav{
    background-color: black;

    position: relative;
}

/* 2.1 SIDE NAV ICON */

.side-nav-icon{
    margin: 10px 0px;

}

.icon{
    display: block;
    max-width: 50px;
    max-height: 50px;

    margin-left: auto;
    margin-right: auto;
    
}

.icon:hover{
    transition: 1.25s ease;
    filter: brightness(75%) sepia(100) saturate(15) hue-rotate(365deg);
}



/* 2.2 SIDE NAV LISTS */

.side-nav-lists{
    display: grid;
    box-sizing: border-box;

    top: 0;
    position:sticky;
}

.side-nav-lists a {
    color: white;
    font-size: 1.25em;



    top: 0;
    bottom: 0;
}

.list-style:hover, a:hover{
    transform: translateX(10px);
    color: yellow;
    filter: brightness(100%) sepia(100) saturate(20) hue-rotate(365deg);
    transition: 0.5s ease;
}

.list-style{
    text-align: justify;
    
}

.side-nav-lists a:hover {
    
    color: yellow;
    text-decoration: none;
}

.side-nav-lists img{

    max-width: 20px;
    max-height: 20px;

    margin: 0px 10px 7.5px 15px;
    text-align: center;
}

/* 2.3 NAV SEPERATOR */

.nav-divider{
    background-color: white;

    height: 1.25px;
    width: 80%;

    margin-left: auto;
    margin-right: auto;
    
    margin-top: 10px;
    margin-bottom: 10px;

    text-align: center;
}

/* 3 MAIN POSTS */

.main-posts{
    justify-content: center;
    align-items: center;

    
    padding: 5px 0px 0px 10px;
}

.posts-container{
    background-color: black;
    position: relative;

    min-height: 15vh;
    max-width: 387.25px;

    margin: 8px 0px 0px 8px;
    padding: 5px;
    
    
    
    color: white;

    flex-direction: column;
    border-radius: 5px;
    border: 2px solid;
    border-color: black;
    
    transition: 0.25s ease-in;

    transform: scale(.90);
}

.posts-container:hover{
    transform: scale(.95);

    border-color: yellow;

}

.flex-item{
    display: flex;
    flex-wrap: wrap;

    box-sizing: border-box; 
}

/* 3.1 MAIN POSTS CONTENT */

.worker-pfp{
    max-width: 30px;
    max-height: 30px;

    margin: 10px 0px 0px 10px;

    border-style: solid;
    border-width: 1px;

    border-color: rgb(255, 251, 0);

    border-radius: 25px;    
}

.posts-header{
    min-height: max-content;
}

.posts-header p{
    
    margin: 10px 0 0 5px;
}

.posts-header p::after{
    display: block;
    

    
    content: "Date and Time";
    font-size: 10px;
    margin: 0px 0px 5px 0px;

}

.posts-content{
    z-index: 1;
    
    /* min-width: inherit; */
    min-height: max-content;
    min-width: 50%;


    word-wrap: break-word;
    padding: 5px 0px 0px 0px;
}

.posts-footer{
    min-height:  min-content;
}

.posts-highlight{
    display: block;
    
    /* position: absolute; */

    /* top: 0;
    right: 0;
    bottom: 0; */
}

.posts-highlight img{
    z-index: 0;
    flex-wrap: wrap;

    min-height: min-content;
    max-width: 100%;

    /* border-radius: 0px 5px 5px 0px; */
    border-radius: 10px;
    
    /* transform: translateX(-30px); */
}

/* 4 FOOTER */

.footer-container {
    position: relative;

    background-color: rgba(128, 128, 128, 0.164);
    padding: 0;
    bottom: 0;
    height: 150px;
    width: 100%;
    z-index: 1001;
}
    