* {
    /* box-sizing: border-box;
    outline: 1px solid limegreen !important; */
    
}

body, head{
    background-color: rgba(236, 252, 9, 0.158);
}

body{ 
    margin: 0;
}

/* 1 MAINBODY */

.mainbody-container{
    min-height: 100vh;
}

.mainbody{
    display: grid;
    grid-template-columns: minmax(150px, 15%) 1fr;
    min-height: inherit;
}

/* 2 SIDE NAVIGATION */

.side-nav{
    background-color: black;
}

/* 2.1 SIDE NAV ICON */

.side-nav-icon{
    margin: 10px 0px;
    position: relative;
    
    
}

.icon{
    display: block;
    max-width: 50px;
    max-height: 50px;

    margin-left: auto;
    margin-right: auto;
    
}

.icon:hover{
    transition: 1.25s ease;
    filter: brightness(75%) sepia(100) saturate(15) hue-rotate(365deg);
}



/* 2.2 SIDE NAV LISTS */

.side-nav-lists{
    display: grid;
    
    
}

.side-nav-lists a {
    color: white;
}

.side-nav-lists a:hover {
    color: yellow;
    transition: 0.5s ease;
    filter: brightness(100%) sepia(100) saturate(20) hue-rotate(365deg);
    text-decoration: none;
}

/* 3 MAIN POSTS */

.main-posts{
    
}

/* 4 FOOTER */

.footer-container {
    position: relative;

    background-color: rgba(128, 128, 128, 0.164);
    padding: 0;
    bottom: 0;
    height: 150px;
    width: 100%;
    z-index: 1001;
}
    