body{ 
    margin: 0;
}

.header-container{
    background-color: aqua;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 2px;
    z-index: 1000;
    
    

    border-style: solid;
    border-width: 1px;
}

.header-bottom .header-top{
    
    padding:0px;
}

.header-top{
    background-color: red;
}

.header-bottom{
    background-color: orange;
    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;
    
}

.flexbox-mainbody-container {
    width: 700px;
    z-index: 900;

    min-height: 100vh;
    
    margin-right: auto;
    margin-left: auto;

}


.flexbox-mainbody {
    background-color: rgba(0, 128, 0, 0.164);
    display: flex;
    justify-content: center;

    
}

.flexbox-item {

    /* TO BE REMOVED */
    border-style: solid;
    border-color: black;
    
    padding: 0%;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    
}

.flex-categories{
    background-color: rgba(0, 0, 255, 0.233);
    width: 30%;
    max-width: 125px;
    min-width: 125px;
}

.categories-title{
    background-color: aqua;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.flex-main-catalog{
    background-color: gold;

    width: 80%;
    margin-left: 10px;
}

.flex-products {
    background-color: olivedrab;

    flex-basis: 20%;
    max-width: 125px;
    min-width: 100px;

    max-height: 200px;
    width: 125px;
    height: 200px;

    box-sizing: border-box;
}

.flex-display-products {
    background-color: purple;
    padding: 1px;

    
    max-width: 65;

    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    
}


.footer-container {
    position: relative;

    background-color: chartreuse;
    padding: 0;
    bottom: 0;
    height: 100px;
    z-index: 1001;

}
    