@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
.container {
  position: relative;
  max-width: 500px;
  width: 100%;
  border-radius: 6px;
  padding: 30px;
  margin: 0 15px;
  background-color: #ffe992;
  box-shadow: 2px 5px 10px grey;
}
.container header {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.container form {
  position: relative;
  margin-left: 20px;
  margin-top: 16px;
  min-height: 250px;
  background-color: #ffe992;
  overflow: hidden;
}
form .userDetails .inputBox {
  margin-bottom: 10px;
}
.formTitle {
  font-size: larger;
  font-weight: bolder;
}

span {
  font-weight: bold;
  padding-top: 20px;
}

input {
  padding-left: 10px;
  font-size: 17px;
  height: 40px;
  width: 400px;
  background-color: #ffe992;
  color: black;
}
.button1 {
  background-color: black;
  color: white;
}
.button1:hover {
  background-color: #333;
  cursor: pointer;
}
