@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4070f4;
}
.container {
  position: relative;
  max-width: 500px;
  width: 100%;
  border-radius: 6px;
  padding: 30px;
  margin: 0 15px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.container header {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.container form {
  position: relative;
  margin-left: 20px;
  margin-top: 16px;
  min-height: 490px;
  background-color: #fff;
  overflow: hidden;
}
form .userDetails .inputBox {
  margin-bottom: 10px;
}
.formTitle {
  font-size: larger;
  font-weight: bolder;
}
input {
  padding-left: 10px;
  height: 40px;
  width: 400px;
}

select {
  all: revert;
  padding: 10px;
  width: 100px;
}

h4 {
  text-align: center;
}
