* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #555;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #555;
}

@font-face {
  font-family: font1;
  src: url("fonts/font1.ttf");
}

/* Nav bar */

.navBar {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav ul li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  display: inline-block;
  margin-right: 40px;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

/* main */
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col2 img {
  max-width: 100%;
  padding: 20px 0;
}

.col2 h1 {
  font-family: font1;
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.col2 p {
  font-size: 20px;
}
.btn1 {
  display: inline-block;
  background-color: orange;
  color: #fff;
  padding: 8px 30px;
  margin: 15px;
  border-radius: 30px;
}
