body {
  margin: 0;
}

header {
  text-align: center;
}

h3 {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex-wrap: wrap;
}
.card-img {
  border-radius: 5px;
}
.cards .card {
  width: 16rem;
  margin: 20px;
}

.card-img1 {
  width: 100%;
  height: 12rem;
  background-image: url("images/black.png");
  background-size: cover;
  background-position: center center;
}
.card-img2 {
  width: 100%;
  height: 12rem;
  background-image: url("images/capp.jpg");
  background-size: cover;
  background-position: center cent er;
}

.card-img3 {
  width: 100%;
  height: 12rem;
  background-image: url("images/latte.jpg");
  background-size: cover;
  background-position: center cent er;
}

.card-img4 {
  width: 100%;
  height: 12rem;
  background-image: url("images/iced.png");
  background-size: cover;
  background-position: center cent er;
}
